#article{
    justify-content: center;
    text-align: center;
}

#comment{
    justify-content: center;
    width:auto;
}

.heading{
    margin-top: 40px;
    text-align: center;
    width: 100%;
  }
  .wording{
    text-align: center;
    color: rgba(0, 0, 0, 0.856);
    font-family: 'Inconsolata';
  }
  
  .container{
    background-color: rgba(255, 235, 205, 0.747);
  }
  h4{
    font-family:'Inconsolata';
  }
  
  .content{
    text-align: center;
  }
  /* .container{
    background-color: white;
  } */
  img{
    width: 60%;
    height:8%;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
  }
  
  ul{
    list-style-type: none;
    margin-top: 80px;
    padding: 0;
    top: 0;
    width: 100%;
    font-size:20px;
  }
    
  li {
    float: left;
  }
    
  li a {
    display: block;
    color: rgba(0, 0, 0, 0.856);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
  
    
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
    
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
    
  input[type=submit]:hover {
    background-color: #45a049;
  }
    
    
  .col-25 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
    
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
    
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .col-sm-9{
    border:4px;
  }
  
  
  
  
    
   