.heading{
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.wording{
  text-align: center;
  color: rgba(0, 0, 0, 0.856);
  font-family: 'Inconsolata';
}

.row{
  width: 100%;
  border-radius: 5px 10px black;
  
}
.col-sm-7{
  border-radius: 5px 10px black;
  
}
.container{
  background-color: #f0b9d4;
  
}
h4{
  font-family:'Inconsolata';
}

img{
  width: 60%;
  height:8%;
  text-align: center;
  justify-content: center;
  margin-left: 10%;
}

ul{
  list-style-type:none;
  margin-top: 80px;
  padding: 0;
  top: 0;
  width: 100%;
  font-size:20px;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: rgba(0, 0, 0, 0.856);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 
  

  







  
 